main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .login_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 300px;
    border: 1px solid rgb(219, 219, 219);
    overflow: hidden;
    .login_logo {
      margin: 10px;
      font-family: "Lobster", cursive;
      font-size: 30px;
    }
    .login_id {
      width: 250px;
      height: 35px;
      padding: 10px;
      background-color: #fafafa;
      border: 1px solid rgb(219, 219, 219);
      font-size: 14px;
    }
    .login_pw {
      width: 250px;
      height: 35px;
      padding: 10px;
      background-color: #fafafa;
      border: 1px solid rgb(219, 219, 219);
    }
    .login_btn {
      margin-top: 20px;
      width: 250px;
      height: 35px;
      background-color: rgba(187, 224, 252, 0.7);
      color: white;
      border: none;
    }
    .change_btn {
      margin-top: 20px;
      width: 250px;
      height: 35px;
      background-color: rgba(187, 224, 252, 1);
      color: white;
      border: none;
    }
    .login_forget {
      text-align: center;
      display: block;
      margin-top: 100px;
      font-size: 12px;
    }
  }
}
